altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.6
idna==3.2
importlib-metadata==4.8.1
macholib==1.15.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PySimpleGUI==4.49.0
requests==2.26.0
typing-extensions==3.10.0.2
urllib3==1.26.7
zipp==3.6.0
